.main-content {
  padding: 24px;
}

.main-content-title {
  margin-bottom: 24px;
}

.main-content-status {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.main-content-home {
}

.main-content-section {
  margin-bottom: 40px;
}
